<div  ng-controller='UserListCntrl'>
  <div class="page-header" >
    <h1>Change Menu</h1>
  </div>

<table border="0" align="center">
  <tr>
    <td  style="margin: 10px; padding: 5px;"><center>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><center>Change Menu</center></h3>
        </div>
        <form name="frmModyear" ng-submit="frmModyear.$valid && submitForm(frmModyear.$valid)" novalidate role='form'>
          <div class="panel-body">

            <div class="form-group">
                <label>Change menu to</label>
                <select class="selectpicker form-control" ng-model="currentMenu" required>
                  <option value="0" selected>Files</option>
                  <option value="1">Fees</option>
                </select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeCurrentMenu(currentMenu, 'change')" ng-disabled='frmModyear.$invalid'>Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeCurrentMenu(currentMenu, 'cancel')">Cancel</button>
            </div>
          </div>
        </form> 
      </div>
    </td>
  </tr>
</table>

</div> <!-- controller div -->

