<div  ng-controller='fileindxCntrl'>
<feesapp-page-header></feesapp-page-header>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/menus/menuReports">Reports</a></li>
  <li>File Index</li>
</ul>
<table border="0" align="center">
  <tr>
    <td  style="margin: 10px; padding: 5px;"><center>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><center>Print File Index</center></h3>
        </div>
        <form name="frmModyear" ng-submit="frmModyear.$valid && submitForm(frmModyear.$valid)" novalidate role='form'>
          <div class="panel-body">
               <div class="form-group" style="width:400px">
                <label>Option</label>
                <select class="selectpicker form-control" ng-model="ReportOption" required>
                  <option value="1">Group wise</option>
                  <option value="2">File Number wise</option>
                  <option value="3">Party Name wise</option>
                </select>                
              </div>
              <div class="form-group">
                  Show Inactive Parties : <input type="checkbox" ng-model="showInactive" name="showInactive" ng-click="refreshData()">
              </div>
            <div class="modal-footer">
            <!--
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ExcelBillReg()" ng-disabled='frmModyear.$invalid'>Excel Report</button>
              -->
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="fileIndxExcel()" ng-disabled='frmModyear.$invalid'>Excel Report</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="PrintfileIndx()" ng-disabled='frmModyear.$invalid'>Print</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="PrintCancel()">Cancel</button>
            </div>
          </div>
        </form> 
      </div>
    </td>
  </tr>
</table>

</div> <!-- controller div -->

