<h2 class="page-header"><center>Integrations</h2>
<center>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Integrations</li>
</ul>
<table border="0">
	<tr>
		<td style="margin: 10px; padding: 5px;"><center>
			<div class="card bg-info" style="width:150px">
			  <a href="/tallyexport">	
			  	<img class="card-img-top" src="../img/DataExport.png" alt="Tally Export" >
			  </a>
			  <div class="card-body">
			    <h4 class="card-title">Export to Tally</h4>
			  </div>
			</div>
		</td>
		<td style="margin: 10px; padding: 5px;"><center>
			<div class="card bg-info" style="width:150px">
			  <a href="/tallyimport">	
			  	<img class="card-img-top" src="../img/DataImport.png" alt="Tally Import" >
			  </a>
			  <div class="card-body">
			    <h4 class="card-title">Import from Tally</h4>
			  </div>
			</div>
		</td>
	</tr>
</table>
