<h2 class="page-header"><center>Settings Menu</h2>
<center>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Settings</li>
</ul>
<table border="0">
	<tr>
		<td style="margin: 10px; padding: 5px;"><center>
			<div class="card bg-info" style="width:150px">
			  <a href="/users/manageusers">	
			  	<img class="card-img-top" src="../img/users.png" alt="Manage Users" >
			  </a>
			  <div class="card-body">
			    <h4 class="card-title" >Manage Users</h4>
			  </div>
			</div>
		</td>
		<td style="margin: 10px; padding: 5px;"><center>
			<div class="card bg-info" style="width:150px">
			  <a href="/years">	
			  	<img class="card-img-top" src="../img/Period.png" alt="Change Period" >
			  </a>
			  <div class="card-body">
			    <h4 class="card-title">Accounting Period</h4>
			  </div>
			</div>
		</td>
	</tr>
</table>

