<h2 class="page-header"><center>Transactions</h2>
<center>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Transactions</li>
</ul>
<table border="0">
	<tr>
		<td style="margin: 10px; padding: 5px;"><center>
			<div class="card bg-info" style="width:150px">
			  <a href="/bills">	
			  	<img class="card-img-top" src="../img/bills.png" alt="Make Bills" >
			  </a>
			  <div class="card-body">
			    <h4 class="card-title">Make Bills</h4>
			  </div>
			</div>
		</td>
		<td style="margin: 10px; padding: 5px;"><center>
			<div class="card bg-info" style="width:150px">
			  <a href="/receipts">	
			  	<img class="card-img-top" src="../img/receipts.png" alt="Enter Receipts" >
			  </a>
			  <div class="card-body">
			    <h4 class="card-title">Enter Receipts</h4>
			  </div>
			</div>
		</td>
	</tr>

</table>

